[db]
uri       = sqlite://storage.sqlite
pool_size = 10

[server]
mode = development

[smtp]
server = smtp.com:587
sender = no-reply@example.net
login = user:password

[default]
fist_name = John
last_name = Doe
email = user@example.com
password = 12345

[API]
key = 0